* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-weight: 600;
    font-size: 54px;
    line-height: 59.4px;
}

h2 {
    color: #1A1B1B;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.6px;
}

h3 {
    font-weight: 800;
    font-size: 34px;
    line-height: 37.4px;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.img-mark {
    color: #0B3462;
    font-weight: 400;
    font-size: 16px;
    line-height: 17.6px;
}

body {
    font-family: 'Urbanist', sans-serif;
    color: #1A1B1B;
}

.wrapper {
    margin: 0px auto;
}

/* HEADER -------------------------------------------------- */

header {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.navbar {
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.navbar-burger {
    background-color: #006CE5;
    padding: 18px 16px;
    width: fit-content;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 4px;
    border: none;
}
  
.navbar-left {
    display: flex;
    gap: 24px;
}

.burger-line {
    width: 16px;
    height: 1px;
    background-color: #FFFFFF;
}

.navbar-logo-container {
    margin: auto 0px;
}

.navbar-logo {
    width: 103px;
    height: 24.5px;
}

.navbar-menu {
    display: none;
}

.navbar-live {
    margin-right: 8px;
    padding-left: 8px;
    border-left: 1px solid #D4D4D4;
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar-right-span {
    color: #ED0E05;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.2px;
}

/* MAIN BLOCK------------------------------------------ */

main {
    padding: 0px 8px;
}

.second-wrapper,
.main-wrapper {
    margin-top: 32px;
    border-bottom: 1px  solid #D4D4D4;
    padding-bottom: 32px;
}

.main-title {
    margin-top: 44px;
    border-bottom: 1px solid #D4D4D4;
}

.main-title-span {  
    color: #1A1B1B;
    font-weight: 400;
    font-size: 17px;
    line-height: 21.25px;
}

.main-title-h {
    margin-top: 12px;
    margin-bottom: 8px;
}

.main-img-container {
    width: 100%;
    height: 416px;
    background: url("../img/main-img.png") no-repeat center center;
    background-size: cover;
    position: relative;
    margin-bottom: 16px;
}

.main-img-container .img-mark {
    position: absolute;
    padding: 10px 20px 10px 0px;
    background-color: #FFFFFF;
    top: 380px;
}

.main-img-description {
    color: #1A1B1B;
    font-weight: 800;
    font-size: 24px;
    line-height: 26.4px;
}

/* FIRST TOPIC ----------------------------------------------- */
.second-topic, 
.main-topic {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.second-topic {
    gap: 40px;
}

.main-topic .main-topic-item:nth-child(-n+2) {
    border-bottom: 1px solid #D4D4D4;
    padding-bottom: 24px;
}

.main-topic-item {
    position: relative;
}

.main-topic-item img:first-child {
    width: 359px;
    height: 166px;
}

.item-description {
    margin-top: 4px;
}

.second-topic-play,
.main-topic-play {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 124px;
    left: 317px;
}

/* SECOND TOPIC -------------------------------------------*/

.second-topic-paragraph {
    color: #1A1B1B;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-top: 10px;
}

.second-topic-item {
    position: relative;
}

.second-item-description {
    margin-top: 12px;
}

h4 {
    margin-top: 10px;
}

/* BOTTOM NAV ------------------------------------- */

.links-wrapper {
    margin-top: 42px;
}

.bottom-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px; 
}

.bottom-nav-link-active,
.bottom-nav-link {
    padding: 10px 16px;
    border: 1px solid #D4D4D4;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 800;
    line-height: 16.8px;
    color: #1A1B1B;
    text-decoration: none;
}

.bottom-nav-link-active {
    color:#006CE5;
}

.next-link-text {
    color: #006CE5;
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
    line-height: 17px;
    display: none;
}

.next-link-mark {
    width: 4.5px;
    height: 9px;
}

/* FOOTER ------------------------------------------------------ */

footer {
    background-color: #EEF2F3;
    margin-top: 32px;
    border: 3px solid #D4D4D4;
}

.input-container {
    margin-top: 44px;
}

.input-container-form {
    display: flex;
    justify-content: center;
}

.input-container-input {
    border: none;
    background-color: #DCE4E7;
    min-height: 36px;
    min-width: 270px;
    padding: 0px 10px;
}

.input-container-button {
    background-color: #006CE5;
    padding: 10px;
    border: none;
    width: 36px;
    height: 36px;
}

.tags-container {
    margin-top: 34px;
    padding-bottom: 40px;
}

.tags-container-article {
    display: flex;
    justify-content: center;
}

.tags-container-img {
    width: 24px;
    height: 24px;
}

.tags-container-span {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 16px;
}

.tags-container-items {
    margin: 16px 20px 0px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.container-tags-item {
    padding: 10px 16px;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border-radius: 800px
}

.logo-container {
    padding-top: 32px;
    background-color: #FFFFFF;
    text-align: center;
}

.logo-container-img {
    display: block;
    
}

.logo-container-span {
    margin-top: 16px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding-bottom: 16px;
}

/* TABLET ADAPTIVE --------------------------------------------- */

@media (min-width: 768px) {
    .navbar-logo {
        width: 114px;
        height: 27.03px;
    }
    
    .main-wrapper {
        padding-bottom: 56px;
    }

    .main-topic {
        padding-bottom: 24px;
        gap: 16px;
    }

    .second-topic-item img:first-child,
    .main-topic-item img:first-child {
        width: 296px;
        height: 166px;
    }

    .main-topic .main-topic-item:nth-child(-n+2) {
        padding-bottom: 16px;
    }

    .main-topic-item {
        display: flex;
        gap: 24px;
        padding-bottom: 56px;
    }

    .second-topic-play,
    .main-topic-play {
        left: 254px;
    }

    /* SECOND-TOPIC --------------------------------------- */

    .second-topic-item {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    /* BOTTOM NAV ------------------------------------- */

    .next-link-text {
        display: inline;
        margin-right: 8px;
    }

    .logo-container {
        padding-top: 48px;
    }

    .logo-container-span {
        margin-top: 24px;
        padding-bottom: 48px;
    }
    
}

/* PC ADAPTIVE -------------------------------------------- */

@media (min-width: 1368px) {
    .wrapper {
        width: 1368px;
    }

    .navbar {
        min-height: 60px;
    }

    .navbar-left button{
        display: none;

    }

    .navbar-logo-container {
        margin-left: 36px;
    }

    .navbar-logo {
        width: 114px;
        height: 27.03px;
    }

    .navbar-menu {
        display: flex;
        gap: 40px;
    }

    ul {
        list-style-type: none;
    }

    .navbar-menu-link {
        color: #1A1B1B;
        font-weight: 600;
        font-size: 16px;
        line-height: 19.2px;
        text-decoration: none;
    }

    .main-wrapper {
        display: flex;
        gap: 24px;
    }

    .main-topic .main-topic-item:nth-child(-n+2) {
        padding-bottom: 32px;
    }

    .main-topic-item {
        border-bottom: none;
    }

    .main-topic-item img:first-child {
        width: 196px;
        height: 110px;
    }

    .main-topic {
        gap: 32px;
        margin-top: 0px;
    }

    .main-topic-play {
        top: 68px;
        left: 154px;
    }

    .second-topic-play {
        top: 130px;
        left: 264px;
    }

    /* SECOND TOPIC ------------------------------------------ */

    .second-wrapper {
        margin-top: 56px;
        display: flex;
        gap: 36px;
    }

    .second-topic {
        margin-top: 0px;
    }

    .second-topic-item img:first-child {
        width: 306px;
        height: 172px;
    }

    h3 {
        white-space: nowrap;
    }

    /* FOOTER ------------------------------------------- */

    .logo-container {
        padding-top: 40px;
    }

    .logo-container-span {
        padding-bottom: 40px;
    }
}
